doctype 5
html
  head
    title= 'Inventory Ka'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/global.css')
    link(rel='stylesheet', href='/stylesheets/ui-darkness/jquery-ui-1.10.3.custom.min.css')
    script(type="text/javascript", src="/javascripts/vendor/underscore.js")
    script(type="text/javascript", src="/javascripts/vendor/jquery-2.0.2.min.js")
    script(type="text/javascript", src="/javascripts/vendor/jquery-ui-1.10.3.custom.min.js")
    script(data-main="/javascripts/main", src="/javascripts/require.js")
  body
    block content