.dropdown {
	list-style: none;
	z-index: 2;
}

/*
Level One
*/
ul.dropdown {
	position: relative;
}

ul.dropdown li {
	float: left;
	zoom: 1;
}

ul.dropdown li a { 
	display: block;
	padding: 0px 8px;
}

ul.dropdown li:last-child a {
	border-right: none;
}

ul.dropdown li:last-child {
	border-radius: 0px 0px 5px 5px;
}

ul.dropdown li.hover,
ul.dropdown li:hover {
	position: relative;
	background: rgba(91, 91, 91, 0.9);
}

/* Level 2 */
ul.dropdown ul {
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0;
	
/* 	margin: 2px auto auto auto; */
    position: absolute;
    box-shadow: 0px 9px 16px rgba(0, 0, 0, 0.99);
    -moz-box-shadow: 0px 9px 16px rgba(55, 55, 55, 0.99);
    -webkit-box-shadow: 0px 9px 16px rgba(0, 0, 0, 0.99);   
}

ul.dropdown ul li {
	float: none;
	background: rgba(91, 91, 91, 0.9);
/* 	border-bottom: 1px solid #ccc; */
}

ul.dropdown ul li a {
	border-right: none;
	width: 100%;
	display: inline-block;
}

/* Level 3 */
ul.dropdown ul ul {
	left: 100%;
	top: 0;
}

ul.dropdown li:hover > ul {
	visibility: visible;
}

/* .menuBar li li {
	background: rgba(91, 91, 91, 0.9);
}

.subMenu {
	margin: 2px auto auto auto;
    position: absolute;
    box-shadow: 0px 9px 16px rgba(0, 0, 0, 0.99);
    -moz-box-shadow: 0px 9px 16px rgba(55, 55, 55, 0.99);
    -webkit-box-shadow: 0px 9px 16px rgba(0, 0, 0, 0.99);   
}

.subMenu > li {
	padding: 2px 10px 2px;
}

.subMenu > .firstEntry {
	margin-top: 3px;
}

.subMenu > .lastEntry {
	border-radius: 0px 0px 5px 5px;
}

.menuBar > .active {
	background: #5B5B5B;
} */
