/*body {
    padding: 0px;
    background-image:url('../images/glossymetalDarkBG.png');
    font-family: "Lucida Grande", Verdana, "Bitstream Vera Sans", Arial,
    sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    font-weight: bold;
    height: 1200px;
}*/

.pressedBorder {
	border-color: #000000 #555555 #555555 #000000;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 2px;
}

.black {
	background: black;
}

.mirrored-x {
	-moz-transform-origin: 50% 50%;
	-moz-transform: scale(-1, 1);
}

.darkRed {
	background-color: rgb(40,0,0);
}

.darkGreen {
	background-color: rgb(0,40,0);
}

.darkBlue {
	background-color: rgb(0, 0, 40);
}

.box_shadow {
    box-shadow: 0px 9px 16px rgba(0, 0, 0, 0.99);
    -moz-box-shadow: 0px 9px 16px rgba(0, 0, 0, 0.99);
    -webkit-box-shadow: 0px 9px 16px rgba(0, 0, 0, 0.99);
}

.clearBoth {
	clear: both;
}

a {
	text-decoration: none;
}

a:visited {
	color: #FFFFFF;
}

.menuBar {
	position: relative;
	z-index: 3;
}

iframe {
	border: 0px;
	padding: 0px;
	margin: 0px;
}

.spacer-small {
	height: 5px;
}

input .checkbox {
	margin: 0;
	padding: 0;
	height: 0.5em;
	width: 0.5em;
	float: left;
}

.vcenterOuter {display: table; position: static;}
.vcenterMiddle {display: table-cell; vertical-align: middle; width: 100%;}

/* #inner {position: relative; top: -50%} /* for explorer only */
.vcenterInner {position: static;}

.applyCancel {
	padding: 5px;
}

.button {
	padding: 3px;
	background-color: black;
	background: -moz-linear-gradient(top, #6a6a6a, #000000);
	background: -webkit-gradient(linear, left top, left bottom, from(#6a6a6a),
	        to(#000000) );
	border-radius: 2px;
	border: 2px solid #000000;
	margin-right: 3px;
	margin-left: 3px;
}

.glasspane {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: table;
	visibility: hidden;
}

.highlight {
	background: rgba(128,128,128,0.5);
}

.vertCenter {
	display: table-cell;
	vertical-align: middle;
}

.glasspaneContent {	
	width: 500px;
	height: 200px;
	margin: 0px auto;
}

div.table {
	display: table;
	margin: 0 auto;
}

.stickyWrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -1em; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
	height: 1em; /* .push must be the same height as .footer */
}

.hidden {
	visibility: hidden;
}

.dispNone {
	display: none;
}


.absoluteContainer {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

		.optionsStack li {
			list-style: none outside none;
			cursor: pointer;
			width: 100%;
		}

		.optionsStack ul {
			margin: 0;
			padding: 0;
		}

		.optionsStack {
			position: relative;
		}

		.optionsPanel {
			position: absolute;
			top: 0px;
			z-index: 1;
			white-space: nowrap;
			width: 100%;
	/*		height: 100%;*/
		}

		.rootOptionsPanel {
			position: relative;
			z-index: 0;
		}
		
		
		.toolTip {
			background: #DDDDCC;
			padding: 0px 5px;
			border: 1px solid black;
			color: #000;
		}
		
		
.noFirefoxDiv {
	
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
	top: 0;
	left: 0;
	background-color: black;
	
}

.widthTransition{
	transition: width 1s;
	-webkit-transition: width 1s;
}