.skyGradient {
	position: absolute;
	background: blue;
	background: -moz-linear-gradient(90deg, rgb(100, 119, 148), rgb(8, 63, 145));
	background: -webkit-gradient(linear, left top, left bottom, from(#647794), to(#083F91));
	height: 50%;
	width: 100%;
/*	border-radius: 15px 15px 0px 0px;*/
}

.seaGradient {
	position: absolute;
	top: 50%;
	background: #6a6a6a;
	background: -moz-linear-gradient(center top, #6A6A6A, #2E2B2C);
	background: -webkit-gradient(linear, left top, left bottom, from(#6A6A6A), to(#2E2B2C));
	height: 50%;
	width: 100%;
/*	border-radius: 0px 0px 15px 15px;*/
}